[submodule "active/vim/bundle/nerdtree"]
	path = active/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "active/vim/bundle/vim-colors-solarized"]
	path = active/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "active/vim/bundle/ctrlp.vim"]
	path = active/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "active/vim/bundle/vim-airline-themes"]
	path = active/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "active/vim/bundle/vim-javascript"]
	path = active/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "active/vim/bundle/vim-airline"]
	path = active/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "active/vim/bundle/vim-gitgutter"]
	path = active/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "active/vim/bundle/nerdcommenter"]
	path = active/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "active/vim/bundle/vim-json"]
	path = active/vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "active/vim/bundle/vim-fugitive"]
	path = active/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "active/vim/bundle/syntastic"]
	path = active/vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "active/vim/bundle/hardmode"]
	path = active/vim/bundle/hardmode
	url = git@github.com:wikitopian/hardmode.git
[submodule "active/other/powerline-fonts"]
	path = active/other/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "active/vim/bundle/vim-easymotion"]
	path = active/vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "active/vim/bundle/ack.vim"]
	path = active/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "active/vim/bundle/indentLine"]
	path = active/vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "active/other/nerd-fonts"]
	path = active/other/nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
        ignore = dirty
[submodule "active/vim/bundle/vim-devicons"]
	path = active/vim/bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "active/vim/bundle/vim-buffergator"]
	path = active/vim/bundle/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "active/vim/bundle/supertab"]
	path = active/vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "active/vim/bundle/dbext.vim"]
	path = active/vim/bundle/dbext.vim
	url = git@github.com:vim-scripts/dbext.vim.git
        ignore = dirty
[submodule "active/vim/bundle/vim-startify"]
	path = active/vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "active/vim/bundle/vim-cfn"]
	path = active/vim/bundle/vim-cfn
	url = https://github.com/speshak/vim-cfn.git
