# This is Git's per-user configuration file.
[user]
	name = Brennan Meadowcroft
	email = bmeadowcroft@itriagehealth.com
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
