# This is Git's per-user configuration file.
[user]
	name = Brennan Meadowcroft
	email = name@abc.com
	editor = vim
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
